<!-- core/templates/index.html -->
{% extends 'base.html' %}

{% block page_title %}
    Página inicial
{% endblock page_title%}

{% block content %}
    <div class="text-center">
        <h1>Bem-vindo à Página Inicial</h1>
        {% if user.is_authenticated %}
        <span>Olá, {{ user.username }}!</span>
    {% else %}
        <span>Você não está logado</span>
    {% endif %}

        <div class="container center-screen">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-center mb-2">
                            <a href="{% url 'loginRequired' %}" class="btn btn-success m-1 btn-custom">Entrar</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'register' %}" class="btn btn-success m-1 btn-custom">Registrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
